<div class="remote-data-table-box">
	
	<div style="text-align: right">
		<div>
			<button type="button" class="btn btn-default btn-sm" 
				ng-click="reload()">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default btn-sm column-selector-button" 
				ng-click="columnSelectorOpen = !columnSelectorOpen" ng-class="{active: columnSelectorOpen}">
				<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
			</button>
		</div>
		<div style="position:relative">
			<div class="column-selector-box" ng-show="columnSelectorOpen" style="position: absolute">
				<div ng-show="options.expandableRows">
					<input type="checkbox" ng-model="expandColumnVisible"/>
					<span style="font-style: italic">expand</span>
				</div>
				<div ng-show="options.indexColumn">
					<input type="checkbox" ng-model="indexColumnVisible"/>
					<span style="font-style: italic">index</span>
				</div>
				<div ng-show="options.selectColumn">
					<input type="checkbox" ng-model="selectColumnVisible"/>
					<span style="font-style: italic">select</span>
				</div>
				<div ng-repeat="column in columns">
					<input type="checkbox" ng-model="column.visibleState"/>
					<span ng-bind="column.displayName"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="data-table-box">
		<table class="table table-condensed table-hover table-bordered remote-data-table">
			<thead>
				<tr>
					<th ng-hide="!expandColumnVisible" style="width: 50px;">
					<th ng-hide="!indexColumnVisible" style="width: 50px;">
						<span ng-bind="options.indexColumnHeader"></span>
					</th>
					<th ng-hide="!selectColumnVisible" style="width: 40px; text-align: center">
						<input ng-hide="!options.multiSelect" type="checkbox" ng-model="selectAllCheckbox" ng-change="selectAllToggle()"/>
					</th>
					<th ng-repeat="column in columns" ng-if="column.visibleState" ng-click="sortColumn(column)" ng-class="{'sortable-column': column.sortable}"
						ng-style="{width: column.width}">
						<span ng-if="!column.headerTemplate" ng-bind="column.displayName"></span>
						<span ng-if="column.headerTemplate" remote-data-table-header-template></span>
						<span class="column-sort-icon" ng-if="column.sortable" ng-show="column.property === sortBy">
							<span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="!sortAsc"></span>
							<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="sortAsc"></span>
						</span>
					</th>
				</tr>
			</thead>
			<tbody ng-repeat="item in items">
				<tr ng-style="{ 'background-color': getRowColor(item, $index) }" 
					ng-class="{'datatable-row-odd': $index % 2 === 0, 'datatable-row-even': $index % 2 === 1}"
					ng-click="rowClicked(item, $index, $event)">
					<td ng-show="expandColumnVisible" ng-click="rowExpandToggle(item)" class="row-expand-button">
						<span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="!item._expanded"></span>
						<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="item._expanded"></span>
					</td>
					<td ng-show="indexColumnVisible" ng-bind="getRowIndex($index)"></td>
					<td ng-show="selectColumnVisible" style="text-align: center">
						<input type="checkbox" ng-model="item._selected" ng-change="selectRowToggle(item, $index)"/>
					</td>
					<td ng-repeat="column in columns" ng-if="column.visibleState">
						<div>
							<span ng-if="!column.cellTemplate" ng-bind="item[column.property]"></span>
							<span ng-if="column.cellTemplate" remote-data-table-cell-template></span>
						</div>
					</td>
				</tr>
				<tr ng-if="options.expandableRows" ng-show="item._expanded">
					<td colspan="{{getColumnCount()}}">
						<div remote-data-table-row-expansion-template></div>
					</td>
				</tr>
			</tbody>
			<tbody>
				<tr ng-if="options.pagination && options.substituteRows" ng-repeat="substituteRow in getSubstitudeRows() track by $index"
					ng-class="{'datatable-row-odd': ($index + items.length) % 2 === 0, 'datatable-row-even': (items.length + $index) % 2 === 1}">
					<td ng-show="expandColumnVisible"></td>
					<td ng-show="indexColumnVisible" style="color: transparent"> - </td>
					<td ng-show="selectColumnVisible"></td>
					<td ng-repeat="column in columns" ng-if="column.visibleState"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<remote-data-table-pagination ng-if="options.pagination"/>
<div>