.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.confirm-dialog-item {
	font-weight: bold;
}
.confirm-dialog .modal-header {
	background-color: rgb(217, 83, 79);
	color: white;
}

abbr.required {
	color: rgb(255, 138, 138);
	font-size: 14px;
	border-bottom: none;
}

// bootstrap override for overlapping modal dialogs:
.modal-backdrop {
	z-index: 1050;
}