<div class="edit-dialog">
  <dialog visible="visible" size="{{options.display.size}}">
    <dialog-header>
      <h4 class="modal-title"><span ng-bind="options.display.title"></span></h4>
    </dialog-header>
    <dialog-body>
      <div>
          <edit-dialog-edit-panel>
          </edit-dialog-edit-panel>
      </div>
    </dialog-body>
    <dialog-footer>
      <span class="pull-left">
        <button type="button" class="btn btn-danger" ng-click="remove()" 
          ng-show="options.display.showRemove && !options.isNewItem(editedItem)">
          <span class="glyphicon glyphicon-trash"></span>
          <span ng-bind="options.display.remove"></span>
          </button>
      </span>
      <span class="pull-right">
        <button type="button" class="btn btn-default" ng-click="cancel()">
          <span ng-bind="options.display.cancel"></span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="copy()"
          ng-show="options.display.showCopy && !options.isNewItem(editedItem)">
          <span ng-bind="options.display.copy"></span></button>
        <button type="button" class="btn btn-success" ng-click="save()">
          <span ng-bind="options.display.save"></span>
        </button>
      </span>
    </dialog-footer>  
  </dialog>
</div> 