.tab-pane {
	padding: 10px;
	border-bottom: 1px solid rgb(221, 221, 221);
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}

.login-dialog .modal-header {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	padding: 35px 50px;
}
.login-dialog .modal-header h4 {
	font-size: 30px;
}
.login-dialog .modal-footer {
	background-color: #f9f9f9;
}

.page-title {
	margin-top: 0;
	margin-bottom: 20px;
	color: rgb(140, 140, 140);
}

.validation-error {
	color: rgb(169, 68, 66);
	padding: 10px 10px 0 10px;
	text-shadow: 0 0 5px rgb(255, 201, 200);
}

.row-button {
	padding: 2px 6px;
	margin-right: 4px;
}

.crud-page-filter {
	padding: 5px;
	padding-left: 10px;
	border: 1px solid rgb(222, 222, 222);
	border-radius: 5px;
	margin-bottom: 10px;
}
.crud-page-table {
	min-height: 450px; /* to compensate for the slow loading time */
	border: 1px solid rgb(222, 222, 222);
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 15px;
	border-radius: 5px;
}

.collapsible-demo .panel-heading {
	cursor: pointer;
}
.collapsible-demo .collapsible-sign {
	float: right;
	color: gray;
	font-size: 16px;
}
.collapsible-demo .panel-title {
	display: inline-block;
}