.tab-pane {
	color: rgb(123, 123, 123);
	padding: 10px;
	border-bottom: 1px solid rgb(221, 221, 221);
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}

.login-dialog .modal-header {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	padding: 35px 50px;
}
.login-dialog .modal-header h4 {
	font-size: 30px;
}
.login-dialog .modal-footer {
	background-color: #f9f9f9;
}

.page-title {
	margin-top: 0;
	margin-bottom: 20px;
	color: rgb(140, 140, 140);
}