<div>
	<div ng-controller="ConfirmCtrl">
		<confirm-dialog 
			visible="dialog.visible"
			item="{{itemToRemove.name}}"
			callback="dialog.confirmed">
		</confirm-dialog>

		<div>Confirm:</div>
		<button class="btn btn-primary" ng-click="dialog.visible = true">Show</button>
	<div>
	<br/>
	<div ng-controller="ConfirmCtrl">
		<confirm-dialog 
			visible="dialog.visible"
			item="{{itemToRemove.name}}"
			callback="dialog.confirmed"
			title="Deleting item"
			message="message comes here">
		</confirm-dialog>

		<div>Custom confirm:</div>
		<button class="btn btn-primary" ng-click="dialog.visible = true">Show</button>
	</div>
	<br/>
	<div ng-controller="AlertCtrl">
		<alert-dialog 
			visible="dialog.visible"
			title="Warning"
			message="{{dialog.message}}">
		</alert-dialog>

		<div>Alert dialog:</div>
		<button class="btn btn-primary" ng-click="dialog.visible = true">Show</button>
	</div>

	<br/>
	<div ng-controller="DialogServiceCtrl">
		<div>Alert dialog as service:</div>
		<button class="btn btn-primary" ng-click="openAlert()">Show</button>
	</div>
	<br/>
	<div ng-controller="DialogServiceCtrl">
		<div>Confirm dialog as service:</div>
		<button class="btn btn-primary" ng-click="openConfirm()">Show</button>
	</div>
	<br/>
	<div ng-controller="DialogServiceCtrl">
		<div>Custom confirm dialog as service:</div>
		<button class="btn btn-primary" ng-click="openCustomConfirm()">Show</button>
	</div>

	<hr/>
	<div ng-controller="DemoEditDialogsCtrl">
		<div>Edit dialog</div>
		<button class="btn btn-primary" ng-click="openEditDialog()">Show</button>
	</div>
</div>