<div>
	<div class="form-group">
		<label>Name:</label>
		<input type="text" class="form-control" placeholder="Name" ng-model="editedItem.name">
	</div>
	<div class="form-group">
		<label>E-mail:</label>
		<input type="email" class="form-control" placeholder="E-mail" ng-model="editedItem.email">
	</div>
	<div class="form-group">
		<label>Age:</label>
		<input type="number" class="form-control" placeholder="Age" ng-model="editedItem.age" min="0">
	</div>
	<div class="form-group">
		<label>Married:</label>
		<input type="checkbox" style="display: block" ng-model="editedItem.married">
	</div>
</div>