<div>
	<div class="form-group" ng-class="{'has-error': editorForm.name.$invalid && !editorForm.name.$pristine}">
		<label>Name: <abbr class="required" title="Name must be set"> *</abbr></label>
		<input type="text" class="form-control" placeholder="Name" name="name" ng-model="editedItem.name" ng-required="true">
		<div class="validation-errors">
			<div class="validation-error" ng-show="editorForm.name.$error.required && !editorForm.name.$pristine">
				Required!
			</div>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error': editorForm.email.$invalid && !editorForm.email.$pristine}">
		<label>E-mail:</label>
		<input type="email" class="form-control" placeholder="E-mail" name="email" ng-model="editedItem.email">
	</div>
	<div class="form-group" ng-class="{'has-error': editorForm.age.$invalid && !editorForm.age.$pristine}">
		<label>Age:</label>
		<input type="number" class="form-control" placeholder="Age" name="age" ng-model="editedItem.age" min="0">
		<div class="validation-errors">
			<div class="validation-error" ng-show="editorForm.age.$error.min && !editorForm.age.$pristine">
				Age can't be less than 0!
			</div>
			<div class="validation-error" ng-show="editorForm.age.$error.number && !editorForm.age.$pristine">
				Age must be a number!
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Married:</label>
		<input type="checkbox" style="display: block" ng-model="editedItem.married">
	</div>
</div>