<div>
  <div ng-controller="TaskCtrl">
  	<div style="margin: auto; max-width: 1000px">
    	<remote-data-table id="tasks-grid"
        items="tasks"
    		item-count="taskCount.count"
        columns="taskColumns"
        reload-remote-data="reloadTasks"
    		>
    	</remote-data-table>
    </div>
  </div>
  <hr/>
  <div ng-controller="CarsCtrl">
    <div style="margin: auto; max-width: 600px">
      <div>
        <span>Year limit: </span>
        <input type="number" ng-model="yearLimit">
      </div>
      <remote-data-table
        items="cars"
        item-count="carCount.count"
        columns="carColumns"
        options="carOptions"
        table-interface="carsTable"
        reload-remote-data="reloadCars"
        >
      </remote-data-table>
      <div>
        <div><b>Selected:</b> (<span ng-bind="carsTable.selected.length"></span>)</div>
        <div ng-repeat="selected in carsTable.selected">
            <span ng-bind="selected.model"></span>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div ng-controller="FilmsCtrl">
    <div style="margin: auto; max-width: 800px">
      <remote-data-table
        items="films"
        item-count="filmCount.count"
        columns="filmColumns"
        options="filmOptions"
        table-interface="filmsTable"
        reload-remote-data="reloadFilms"
        >
      </remote-data-table>
      <div><b>Selected:</b> <span ng-bind="filmsTable.selected.title"></span></div>
    </div>
  </div>
</div>